@tailwind base;

@tailwind components;

@tailwind utilities;

/* @layer utilities {
  @responsive {
    .bg-blac-tfc-overlay {
      background: rgba(0, 0, 0, 0.6);
    }
    .max-w-4-5xl {
      max-width: 52.5rem;
    }
    .text-6-5xl {
      font-size: 4.6rem;
    }
    .bg-cover-important {
      background-size: cover !important;
    }
    .font-libre-baskerville {
      font-family: "LibreBaskerville";
    }
    .font-libre-baskerville-Bold {
      font-family: "LibreBaskerville-Bold";
    }
    .first-border-none *:first-child {
      border: none;
    }
    .last-border-none *:first-child {
      border: none;
    }
    .nav {
      @apply fixed w-full px-20 py-12 z-20 bg-transparent transition-all ease-in duration-75 block;
    }
    .nav-scrolled {
      @apply fixed w-full px-24 py-8 z-20 bg-black;
    }
    .top-2 {
      top: 0.25rem;
    }
    .top-4 {
      top: 0.5rem;
    }
    .top-6 {
      top: 0.75rem;
    }
    .top-8 {
      top: 1rem;
    }
    .top-10 {
      top: 1.25rem;
    }

    .ctr {
      @apply mr-auto ml-auto pl-4 pr-4;
    }
    .row {
      @apply -mr-4 -ml-4;
    }
    .h-px-3 {
      height: 3px;
    }
    .h-px-18 {
      height: 18px;
    }
    .w-px-18 {
      width: 18px;
    }

    .top-4 {
      top: 1rem;
    }

    .top-16 {
      top: 4rem;
    }

    .top-13 {
      top: 3.25rem;
    }

    .top-14 {
      top: 3.5rem;
    }

    .top-12 {
      top: 3rem;
    }

    .top-8 {
      top: 2rem;
    }

    .left-50-percent {
      left: 50%;
    }

    .border-t-1 {
      border-top-width: 1px;
    }

    .ctr {
      @apply ml-auto mr-auto pl-4 pr-4;
    }

    .content-arrow {
      content: "\f0d7" !important;
    }

    .content-right-arrow {
      content: "\f054";
    }

    .max-h-83-px {
      max-height: 63px;
    }

    .max-h-120-px {
      max-height: 120px;
    }
    /* 
    .icon-arrow-after::after {
      @apply content-arrow text-center align-middle font-fontAwesome absolute top-8 left-50-percent;
    } */

/* .icon-right-arrow-before::before {
      @apply content-right-arrow font-fontAwesome text-white mr-4;
    } */

/* .first-border-none *:first-child * {
      border: none;
    }
    .last-border-none *:first-child {
      border: none;
    }

    @variants {
      .sub-menu-hover-child {
        display: none;
      }
    } */

/* .sub-menu-hover-parent:hover .sub-menu-hover-child {
      display: block;
    }

    .sub-menu-hover-child:hover > * {
      display: block;
    } */
/* }
} */

@layer utilities {
  @responsive {
    .ctr {
      @apply mr-auto ml-auto pl-4 pr-4;
    }
    .row {
      @apply -mr-4 -ml-4;
    }

    .col-count-2 {
      column-count: 2;
    }

    .col-count-1 {
      column-count: 1;
    }

    .h-px-3 {
      height: 3px;
    }
    .h-px-18 {
      height: 18px;
    }
    .w-px-18 {
      width: 18px;
    }

    .right-10-px {
      right: 10px;
    }

    .right-20-px {
      right: 20px;
    }

    .top-20-px {
      top: 20px;
    }

    .top-4 {
      top: 1rem;
    }

    .top-16 {
      top: 4rem;
    }

    .top-13 {
      top: 3.25rem;
    }

    .top-14 {
      top: 3.5rem;
    }

    .top-12 {
      top: 3rem;
    }

    .top-8 {
      top: 2rem;
    }

    .text-27-px {
      font-size: 27px;
    }

    .left-50-percent {
      left: 50%;
    }

    .border-t-1 {
      border-top-width: 1px;
    }

    .border-b-1 {
      border-bottom-width: 1px;
    }

    .border-t-10 {
      border-top-width: 10px;
    }

    .border-t-70-px {
      border-top-width: 70px;
    }

    .border-l-70-px {
      border-left-width: 70px;
    }

    .border-t-30-px {
      border-top-width: 30px;
    }

    .border-l-30-px {
      border-left-width: 30px;
    }

    .border-l-6-px {
      border-left-width: 6px;
    }

    .border-r-6-px {
      border-right-width: 6px;
    }

    .border-t-6-px {
      border-top-width: 6px;
    }

    .border-b-6-px {
      border-bottom-width: 6px;
    }

    .border-t-primary_black {
      border-top-color: #23272f;
    }

    .border-t-primary_yellow {
      border-top-color: #fecd07;
    }

    .border-t-white {
      border-top-color: #ffffff;
    }

    .border-b-white {
      border-bottom-color: #ffffff;
    }

    .p-t-11-percent {
      padding-top: 11%;
    }

    .p-b-11-percent {
      padding-bottom: 11%;
    }

    .content-empty {
      content: "";
    }

    .content-arrow {
      content: "\f0d7" !important;
    }

    .content-right-arrow {
      content: "\f054";
    }

    .content-home {
      content: "\f015";
    }

    .content-apartment {
      content: "\f1ad";
    }

    .content-tick {
      content: "\f00c";
    }

    .max-h-83-px {
      max-height: 63px;
    }

    .max-h-120-px {
      max-height: 120px;
    }

    .icon-arrow-after::after {
      @apply content-arrow text-center align-middle font-fontAwesome absolute top-8 left-50-percent;
    }

    .mobile-nav .icon-arrow-after-mobile::after {
      @apply content-arrow font-fontAwesome ml-auto inline-block text-primary_black absolute right-10-px;
    }

    .icon-right-arrow-before::before {
      @apply content-right-arrow font-fontAwesome text-white mr-4;
    }

    .first-border-none *:first-child * {
      border: none;
    }
    .last-border-none *:first-child {
      border: none;
    }

    .border-top-white {
      border-top-color: #fff;
    }

    .border-left-transparent {
      border-left-color: transparent;
    }

    .border-right-transparent {
      border-right-color: transparent;
    }

    .sim-card-style-after::after {
      @apply absolute content-empty right-0 top-0 w-0 h-0 border-t-70-px border-l-70-px border-top-white border-left-transparent;
    }

    .sim-card-style-small-after::after {
      @apply absolute content-empty right-0 top-0 w-0 h-0 border-t-30-px border-l-30-px border-top-white border-left-transparent;
    }

    .simcard-arrow {
      font-size: 2rem !important;
    }

    .max-w-fit-content {
      max-width: fit-content;
    }

    .tab-arrow-after::after {
      @apply border-t-6-px border-t-white border-l-6-px border-r-6-px border-left-transparent border-right-transparent absolute content-empty right-20-px top-20-px border-b-0;
    }

    .tab-arrow-after::after:hover {
      @apply border-t-6-px border-b-white border-l-6-px border-r-6-px border-left-transparent border-right-transparent absolute content-empty right-20-px top-20-px border-t-0;
    }

    .tab-before-personal-icon::before {
      @apply mr-2 content-home font-fontAwesome;
    }

    .tab-before-commercial-icon::before {
      @apply mr-2 content-apartment font-fontAwesome;
    }

    .tick-icon-before::before {
      @apply content-tick font-fontAwesome mr-2;
    }

    @variants {
      .sub-menu-hover-child {
        display: none;
      }

      .sub-menu-hover-parent:hover .sub-menu-hover-child {
        display: block;
      }

      .sub-menu-hover-child:hover > * {
        display: block;
      }
      .mobile-nav {
        @apply h-full overflow-visible;
      }
      .mobile-nav .links-wrapper {
        @apply flex-col;
      }
      .mobile-nav .links-wrapper .submenu-parent .submenu-child {
        @apply bg-transparent text-primary_black relative w-full block;
      }
      .mobile-nav .links-wrapper .submenu-parent .submenu-child li {
        @apply py-0 px-0 border-0;
      }
      .mobile-nav-icon-active {
        @apply transition-all transform rotate-90 ease-in duration-100;
      }
      .border-t-1-px {
        border-top-width: 1px;
      }

      .border-l-1-px {
        border-left-width: 1px;
      }

      .border-1-px {
        border-left-width: 1px;
      }

      .leading-1-1 {
        line-height: 1.1;
      }

      .table-row-first-styles *:first-child {
        @apply text-left py-3 pl-2 pr-1 font-bold;
      }
    }
  }
}

@layer base {
  @responsive {
    @font-face {
      font-family: "LibreBaskerville";
      font-weight: 400;
      src: url(LibreBaskerville-Regular.ttf) format("ttf");
    }
    @font-face {
      font-family: "LibreBaskerville-Bold";
      font-weight: 700;
      src: url(LibreBaskerville-Bold.ttf) format("ttf");
    }
  }
}
